<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaara.base.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.gaara.base.domain.Article">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="article" column="article" jdbcType="VARCHAR"/>
            <result property="abbreviation" column="abbreviation" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="hit" column="hit" jdbcType="INTEGER"/>
            <result property="hot" column="hot" jdbcType="VARCHAR"/>
            <result property="top" column="top" jdbcType="VARCHAR"/>
            <result property="articleall" column="articleAll" jdbcType="VARCHAR"/>
            <result property="apid" column="apid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,article,
        abbreviation,type,hit,
        hot,top,articleAll,
        apid
    </sql>
    <select id="selectArticleById" resultMap="BaseResultMap">
        select article
        from article
        where id = #{id}
    </select>
</mapper>
